<div *ngIf="product.title" class="card" style="width: 16rem;">
  <img [src]="product.imageUrl" alt="product.title" *ngIf="product.imageUrl" style="height:200px" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">{{product.title}}</h5>
    <p class="card-text">{{product.price | currency:'USD':true}}</p>
  </div>
  <div *ngIf="showActions && shoppingCart" class="cart-footer">
    <button *ngIf="shoppingCart.getQuantity(product) === 0;else updateQuantity" (click)="addToCart()"
      class="btn btn-secondary btn-block cart">Add to
      Cart</button>
    <ng-template #updateQuantity>
      <product-quantity [product]="product" [shopping-cart]="shoppingCart"></product-quantity>
    </ng-template>
  </div>
</div>
