<h1>Shopping Cart</h1>
<div class="row col-11" *ngIf="cart$ | async as cart">
  <p>You have {{cart.totalItemsCount}} items in your shopping cart.
    <button *ngIf="cart.items.length" (click)="clearCart()" class="btn btn-light btn-sm">Clear Shopping Cart</button>
  </p>
  <table class="table">
    <thead>
      <th></th>
      <th>Product</th>
      <th class="text-center" style="width:300px;">Quantity</th>
      <th class="text-right" style="width:300px;">Price</th>
    </thead>
    <tbody>
      <tr *ngFor="let p of cart.items">
        <td>
          <div [style.backgroundImage]="'url(' + p.imageUrl +')'" class="thumbnail"></div>
        </td>
        <td>
          {{p.title}}
        </td>
        <td>
          <product-quantity [product]="p" [shopping-cart]="cart"></product-quantity>
        </td>
        <td class="text-right">{{p.totalPrice}}</td>
      </tr>
    </tbody>
    <tfoot>
      <th></th>
      <th></th>
      <th></th>
      <th class="text-right">{{cart.totalPrice}}</th>
    </tfoot>
  </table>
  <a [routerLink]="['/check-out']" routerLinkActive="router-link-active" *ngIf="cart.items.length"
    class="btn btn-primary">Check Out</a>


</div>
