<h1>Shopping Cart</h1>
<ng-container *ngIf="cart$ | async as cart">
  <p>You have {{cart.totalItemsCount}} items in your shopping cart.</p>
  <table class="table">
    <thead>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
    </thead>
    <tbody>
      <tr *ngFor="let p of cart.items">
        <td>
          {{p.title}}
        </td>
        <td>
          <product-quantity [product]="p" [shopping-cart]="cart"></product-quantity>
        </td>
        <td>{{p.totalPrice}}</td>
      </tr>
    </tbody>
    <tfoot>
      <th></th>
      <th></th>
      <th>{{cart.totalPrice}}</th>
    </tfoot>
  </table>
  <button (click)="clearCart()" class="btn btn-danger btn-sm">Clear Shopping Cart</button>

</ng-container>
